<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id ="product" class="com.example.springCore.Product">
        <constructor-arg name="productName" value="Name" />
        <!--   this is to initiate  the constructor of the bean with default value-->
        <constructor-arg name="price" ref="price"/>
<!--        this is to reference another parameter of type class (ref) -->
    </bean>

    <bean id ="price" class="com.example.springCore.Price">
       <property name="amount" value="123"/>
        <property name="currencyType" value="Rupees"/>
<!--   for setter based injection-->
    </bean>


</beans>